{% extends "base.html" %} {% block content %}
<h1>Contact Me</h1>
<ul>
  <li>Email: marcelandrian.com@gmail.com</li>
  <li>Instagram: mar.andrian</li>
  <li>WhatsApp: 085893724592</li>
  <li>Line: marcelandriann</li>
</ul>
<p>Get in touch with me! (nyoba-nyoba form):</p>
<form>
  <label>Name:</label>
  <input type="text" /><br />
  <label>Email:</label>
  <input type="email" /><br />
  <label>Message:</label>
  <textarea></textarea><br />
  <button type="submit">Send</button>
</form>
{% endblock %}
