{% extends "base.html" %} {% block content %}
<h1>Home</h1>
<p>Selamat datang di web gokil anjay mantap ini!</p>

<img src="/static/images/marcel.jpg" alt="foto marcel" style="height: 600px" />

<p>
  Saya Marcel Andrian Naftali, mahasiswa S1 Teknik Elektro Unpad. Saya ahli di
  segala hal di bidang musik dan seni (self-proclaimed). Web ini dibuat dengan
  tujuan memenuhi tugas ke-dua Pemrograman II tentang pembuatan web (HTML serta
  CSS) menggunakan Flask. Agak ribet dikit saat mensetting virtual environment
  (untuk beberapa alasan Vscode malah pake python yang versi global, bukan versi
  yang udah diset untuk venv-nya). Tapi akhirnya bisa.
</p>

<p>
  Silakan kunjungi bagian lainnya dari web ini menggunakan navigasi di halaman
  bagian atas.
</p>
{% endblock %}
