{% extends "base.html" %} {% block content %}
<h1>My Projects</h1>
<p>Inilah projek yang sudah saya kerjakan:</p>
<ul>
  <li>
    Company Profile BE HMTE Unpad 2025:
    <a href="https://www.youtube.com/watch?v=9qLpm61628o">Link YouTube</a>
  </li>
  <li>
    Desainer Feeds Instagram BE HMTE Unpad 2025:
    <a href="https://www.instagram.com/hmteunpad/">Link Instagram</a>
  </li>
  <li>
    Desainer Feeds Instagram Electro Sports & Art HMTE Unpad 2025:
    <a href="https://www.instagram.com/espora.hmte/">Link Instagram</a>
  </li>
</ul>
{% endblock %}
